@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply flex items-center justify-center h-10 w-10 mt-2 mb-2 p-1 mx-auto shadow-lg
    bg-surface0
    text-text
    rounded-3xl
    transition-all duration-100 ease-linear
    hover:rounded-2xl
    hover:bg-surface2
  }

  .sidebar-icon-selected {
    @apply rounded-xl bg-surface2 p-0.5 hover:rounded-xl
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-1 m-4 min-w-max left-12 rounded-md shadow-md text-text bg-surface0 text-xs font-bold
    transition-all duration-100 scale-0 origin-left
  }


}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
